!!!5
%html(lang='de')
  %head
    %title Anwaltskanzlei Schenk
    %meta(charset='utf-8')
    %link(rel='stylesheet' media='screen' href='style.css')
  %body
    #container
      %header
        %h1 Anwaltskanzlei Schenk
      %nav
        %ul
          %li
            %a(href='index.html') Startseite
          %li
            %a(href='rechtsgebiete.html') Rechtsgebiete
          %li
            %a(href='persoenliches.html') Pers&ouml;nliches
          %li
            %a(href='vollmachten.html') Vollmachten/Formulare
          -# %li
          -#   %a(href='kosten') Kosten
          %li
            %a(href='kontakt.html') Kontakt/Lage
          %li
            %a(href='impressum.html') Impressum 
      #content
        = yield
      %footer
        .details
          .name
            %h3 Kristin Schenk
            Rechtsanw&auml;ltin und Fachanw&auml;ltin f&uuml;r Strafrecht
          .address
            %h3 Kanzlei
            %address
              .line Puschkinstra&szlig;e 12
              .line 15907 L&uuml;bben 
              .line <a href="mailto:post@anwaltskanzlei-schenk.com">post@anwaltskanzlei-schenk.com</a>
          .contact
            %h3 Kontakt
            .line Fon: <a href="tel:+4935469347733">03546 / 934 77 33</a>
            .line Fax: <a href="tel:+4935469347722">03546 / 934 77 22</a>
            .line Funk: <a href="tel:+491743467992">0174 / 34 67 992</a> 
          .bank
            %h3 Deutsche Bank 
            .line BLZ 120 700 24 
            .line Kto 208 45 31 01 
            .line USt.-Nr. 049/267/03086
